
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #e9e9ea;
  font-family: 'Roboto', sans-serif;
  color: #e9e9ea;
}

.top-bar{
  width: 100vw;
  height: 50px;
  background-color: #a16c4c;
}

header{
  background-color: #222428;
}

.header-wrapper{
  margin: 0 auto;
  width: 100vw;
  max-width: 1800px;
  display: flex;
  flex-direction: column;
}

.header-title {
  padding: 10px 10px 0 10px;
}

.header-text{
  padding: 0 10px 50px 10px;
}

.header-video{
  width: 100vw;
  margin-top: 20px;
}

.profile-card{
  background-color: #222428;
  width: 100vw;
  padding-bottom: 20px;
  margin-top: 30px;
}

.profil-image{
  width: 100vw;
}

.profile-text-wrapper{
  padding: 10px;
}

.expertise-text{
  font-size: 20px;
  margin-top: 0;
}

.name-text{
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 5px;
}

@media (min-width:  768px){

  .header-container{
    display: flex;
    justify-content: center;
  }

  .header-text-wrapper{
    padding: 0 5% 0 5%;
  }

  .profil-image{
    width: 50%;
    object-fit: contain;
  }

  .profile-card{
    width: 46%;
    margin-top: 20px;
    display: flex;
    padding-bottom: 0;
  }

  .expertise-container{
    max-width: 1800px;
    padding: 0 5% 0 5%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .name-text{
    font-size: 16px;
  }

  .expertise-text{
    font-size: 14px;
  }

}

@media (min-width: 993px) {
  .header-wrapper{
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row-reverse;
    padding: 0 5% 0 5%;
    margin-bottom: 20px;
  }

  .header-video{
    width: 500px;
    margin: 0;
  }

  .header-text-wrapper{
    width: 500px;
    padding: 0;
  }

  .header-title{
    font-size: 45px;
  }

  .profile-card{
    width: 30%;
  }
  
  .name-text{
    font-size: 20px;
  }

  .expertise-text{
    font-size: 15px;
  }
}